@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

:root {
  --ff: "Viga", sans-serif;
  --bgc-primary: rgb(62, 62, 190);
  --bgc-success: rgb(31, 187, 31);
  --bgc-red: rgb(223, 72, 72);
  --bgc-violet: rgb(144, 71, 238);
}

.btn {
  border: none;
  width: 120px;
  height: 50px;
  font-size: 25px;
  border-radius: 15px;
  font-family: var(--ff);
}

.primary {
  background-color: var(--bgc-primary);
  color: white;
}

.success {
  background-color: var(--bgc-success);
  color: white;
}

.manas {
  background-color: var(--bgc-red);
  color: white;
}

.dilshad {
  background-color: var(--bgc-violet);
  color: white;
}
